<template>
  <div>
    <div id='topbar'>
      <div class='top-nav1'>
        <!-- logo -->
        <div class='top-logo'>
          <span>乐家智慧家政系统</span>
        </div>
        <!-- 导航栏 -->
        <ul>
          <li  @click="routetohome" style='list-style-type: none'>
<!--            <el-button   style="width:100%;" @click.native.prevent="routetohome">网站首页</el-button>-->
            <a>
              <span>网站首页</span>
              <sub class='cor' v-show='sub === "1"'></sub>
            </a>
          </li>
          <li  @click="routetoserve" style='list-style-type: none'>
            <a>
<!--              <el-button type='text' @click.native.prevent="routetoserve">家政服务</el-button>-->
              <span>家政服务</span>
              <sub class='cor' v-show='sub === "2"'></sub>
            </a>
          </li>
<!--          <li style='list-style-type: none'>-->
<!--            <a href='#' class=''>-->
<!--              <span>入驻公司</span>-->
<!--              <sub class='cor' v-show='sub === "3"'></sub>-->
<!--            </a>-->
<!--          </li>-->
        </ul>
        <!--登录/登录头像-->
        <div class='login'>
<!--          <template v-if="!isLogin">-->
            <el-button type='text' @click.native.prevent="handleLogin">登录</el-button>
<!--          </template>-->
        </div>
      </div>

    </div>
    <div style="margin-top: 2px">
      <div style="width: 100%; background-color: #fff">
        <el-carousel :interval="1000" type="card" height="290px" arrow="always" class="el-carousel"
                     indicator-position="none">
          <el-carousel-item v-for="banner in banners" :key="banner">
            <img :src="banner"  style="height: 100%;width: 100%;"/>
          </el-carousel-item>
        </el-carousel>
      </div>

      <div class="main">
        <div class="left">

          <!-- 热门推荐 -->
          <div class="left-top">
            <img src="../assets/images/bg.png" />
            <el-button type="text">
              <h2 style="color: #000000; margin-right: 15px">
                服务展示
              </h2>
            </el-button>

          </div>
          <hr color="#C20C0C" style="margin-bottom: 20px" />
          <ul>
            <el-card :body-style="{ padding: '0px' }" class="fuwuxiang" >
              <img :src="fuwuzhans"/>
            </el-card>
            <li v-for='item in fuWu' :key='item.id' style='margin-bottom: 10px;list-style-type: none'>
              <el-card :body-style="{ padding: '0px' }" class="playcard" >
                <!-- <el-image :src="cnSongs.img_src" style='width: 150px;height: 140px;'
                  class="image"  /> -->
                <el-image :src="item.img_src" style='width: 150px;height: 140px;'
                />
                <div style="padding: 6px">
                  <a class="title" style="text-align: center">{{ item.name }}</a>
                </div>
              </el-card>
            </li>
          </ul>

        </div>

        <div class='right'>
          <div class='singer-list' style="margin-left:30px">
            <div class='title'>
              <a href=''>优秀员工</a>
              <hr>
            </div>
            <el-card shadow='always' class='artist-card' :body-style="{ padding: '6px' }" v-for="artist in artistsList"
                     :key="artist">
              <div>
                <img :src="artist.img"/>
                <div>
                  <span style="margin-top: 24px;margin-left: 50px;">{{ artist.name }}</span>
                </div>
              </div>
            </el-card>
          </div>
          <div class='dj-list'>
            <div class='title' style='margin-bottom: 10px'>
              <a href=''>入驻公司</a>
              <hr>
            </div>
            <ul>
              <li v-for='gongsi in gongsis' :key="gongsi">
                <img :src="gongsi.img" style="margin-left: -45px">
                <span style="margin-left: 8px">{{ gongsi.name }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: "Recommend",
    data() {
      var img1 = require("../assets/images/carousel1.png")
      var img2 = require("../assets/images/carousel2.jpeg")
      var img3 = require("../assets/images/carousel3.jpeg")
      var img4 = require("../assets/images/carousel4.jpeg")
      var img5 = require("../assets/images/carousel5.jpg")
      var img6 = require("../assets/images/worker1.jpg")
      var img7 = require("../assets/images/worker2.jpg")
      var img8 = require("../assets/images/worker3.jpg")
      var img9 = require("../assets/images/worker4.jpg")
      var img10 = require("../assets/images/worker5.jpg")
      var gongsi_img1=require("../assets/images/gongsi1.gif")
      var gongsi_img2=require("../assets/images/gongsi2.gif")
      var gongsi_img3=require("../assets/images/gongsi3.gif")
      var gongsi_name1="阿姨来了"
      var gongsi_name2="无忧保姆"
      var gongsi_name3="爱君家政在线"
      var name1 = "林俊杰"
      var name2 = "capper"
      var name3 = "陈奕迅"
      var name4 = "薛之谦"
      var name5 = "罗岩"
      var fuwuzhans = require("../assets/images/fuwuxiangmu.png")
      var bj_1 = require("../assets/img/dingzhibaojie.jpg")
      var bj_2 = require("../assets/img/daxinshangcbaojie.jpg")
      // var bj_3 = require("../../assets/img/qiyedanwei.jpg")
      // var bj_4 = require("../../assets/img/jiudianbaojie.jpg")
      var bj_5 = require("../assets/img/jiating.jpg")
      var bj_6 = require("../assets/img/gaoduan.jpg")
      // var bj_7 = require("../../assets/img/biesu.jpg")
      var bq_1 = require("../assets/img/bq1.jpg")
      var bq_2 = require("../assets/img/bq2.jpg")
      // var bq_3 = require("../../assets/img/bq3.jpg")
      // var bq_4 = require("../../assets/img/bq4.jpg")
      // var bq_5 = require("../../assets/img/bq5.jpg")
      var bq_6 = require("../assets/img/bq6.jpg")
      // var bq_7 = require("../../assets/img/bq7.jpg")
      // var cj_1 = require("../../assets/img/cj1.jpg")
      // var ys_1 = require("../../assets/img/ys1.jpg")
      var ys_2 = require("../assets/img/ys2.jpg")
      // var ys_3 = require("../../assets/img/ys3.jpg")
      return {
        banners: [img1,img4,img3,img2,img5],
        artistsList: [{"img":img6,"name":name1},{"img":img7,"name":name2},{"img":img8,"name":name3},{"img":img9,"name":name4},{"img":img10,"name":name5}],
        gongsis:[{"img":gongsi_img1,"name":gongsi_name1},{"img":gongsi_img2,"name":gongsi_name2},{"img":gongsi_img3,"name":gongsi_name3}],
        swiperOptions: {
          initialSlide: 0,
          slidesPerView: 5,
          slidesPerGroup: 5,
          loop: true,
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        },
        fuwuzhans: fuwuzhans,
        fuWu: [
          {id: 1, name: '定制保洁', img_src: bj_1},
          {id: 2, name: '居民搬家', img_src: bq_1},
          {id: 3, name: '沉重贵重物品搬迁', img_src: bq_2},
          {id: 4, name: '酒店搬迁', img_src: bq_6},
          {id: 5, name: '长途运输', img_src: ys_2},
          {id: 6, name: '大型商场保洁', img_src: bj_2},
          {id: 7, name: '高端保洁', img_src: bj_6},
          {id: 8, name: '家庭保洁', img_src: bj_5},
        ],
        topAlbum: [],
        newestAlbum: [],
      };
    },
    mounted() {
    },
    methods: {
      handleLogin(){
        this.$router.push({path:"/login"})
      },
      routetohome(){
        this.$router.push({path:"/homepage"})
      },
      routetoserve(){
        this.$router.push({path:"/homeserve"})
      }
    },
  };
</script>

<style scoped lang='less'>
  .el-carousel {
    width: 1460px;
    margin: 0 auto;
  }
  .fuwuxiang{
    width: 1200px;
    height: 400px;
    cursor: pointer;
  }
  .image {
    width: 100%;
    display: block;
    overflow: hidden;
    transition: all 0.6s;
  }
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .playcard {
    width: 150px;
    height: 180px;
    cursor: pointer;
  }
  .main {
    width: 1020px;
    margin: 0 auto;
    display: flex;
    background-color: #fff;

    .left {
      width: 770px;
      padding: 20px;
      border: 1px solid #f5f5f5;

      .el-icon-s-help {
        color: #c20c0c;
      }

      .left-top {
        display: flex;
        align-items: center;

        ul {
          display: flex;
          flex-flow: row nowrap;

          li {
            margin-right: 15px;
          }
        }
      }
    }
  }
</style>
<style scoped lang='scss'>
  #topbar {
    width: 100%;
    background-color: #242424;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .top-nav1 {
      height: 70px;
      width: 980px;
      color: white;
      display: flex;
      align-items: center;
      overflow: hidden;

      .top-logo {
        font-family: "Helvetica Neue", Helvetica, "PingFang SC",
        "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
        font-size: 28px;
        margin-right: 25px;
      }

      ul {
        display: flex;
        flex-flow: row nowrap;
        height: 100%;

        li {
          margin: 0 20px 0 0;
          width: 100px;
          height: 100%;
          color: #ccc;
          text-align: center;
          cursor: pointer;

          a {
            position: relative;

            span {
              line-height: 70px;
            }

            .cor {
              width: 12px;
              height: 6px;
              background: url(../assets/images/topbar.png) -226px 0px;
              position: absolute;
              top: 38px;
              left: 50%;
            }
          }
        }

        li:hover {
          color: white;
          background-color: #000000;
        }
      }

      .login {
        margin-left: 20px;
        color: #606266;
        img{
          vertical-align: middle;
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }
      }
    }

    .top-nav2 {
      width: 100%;
      display: flex;
      flex-flow: nowrap;
      justify-content: center;
      background-color: #C20C0C;

    }

    .shrinkNav {
      height: 5px;
      overflow: hidden;
    }
  }

  .my-autocomplete {
    li {

      .searchSuggest {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;


        .type {
          font-size: 12px;
          color: #b4b4b4;
          border-right: 1px #e6e6e6 solid;
          padding-right: 10px;
        }

        .data {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
          border-top: 1px solid #e6e6e6;

          p {
            padding-left: 5px;
            display: block;
          }

          p:hover {
            background-color: #cacaca;
          }
        }
      }

    }
  }
</style>
<style scoped lang='less'>
  .right {
    width: 250px;
    border: 1px solid #f5f5f5;

    .loginInfo {
      height: 140px;
      padding: 16px;
      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      box-shadow: #cccccc 1px 1px 1px;
      text-align: center;
    }

    .loginInfo2 {
      display: flex;
      flex-flow: column nowrap;
      padding: 20px;
      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      box-shadow: #cccccc 1px 1px 1px;

      .userInfo {
        display: flex;
        flex-flow: row nowrap;

        strong {
          font-size: 16px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .avatar {
          width: 86px;
          height: 86px;
          padding: 2px;
          border: 1px solid #c7c7c7;
        }
      }

      .somgUserCount {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        color: #666666;
        margin-top: 15px;

        div {
          padding: 8px;

          p {
            font-size: 12px;
          }

          &:hover {
            color: #0099ff;
          }
        }
      }
    }

    .singer-list {
      padding: 15px;

      .title {
        margin-bottom: 10px;
      }

      .artist-card {
        margin-bottom: 16px;
        cursor: pointer;

        div {
          display: flex;
          flex-flow: row nowrap;
          font-size: 13px;

          span {
            width: 45px;
            height: 30px;
            margin-left: 10px;
          }

          a {
            margin-top: 50px;
          }
        }
      }
    }

    .dj-list {
      padding: 15px;

      ul {
        li {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          cursor: pointer;
        }
      }
    }

    a:hover {
      border-bottom: #C20C0C 1px solid;
    }
  }
</style>
