<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" >
      <el-form-item label="订单编号" prop="orderNumber">
        <el-input
          v-model="queryParams.orderNumber"
          placeholder="请输入订单编号"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <!-- <el-form-item label="客户昵称" prop="clientNickname">
        <el-input
          v-model="queryParams.clientNickname"
          placeholder="请输入客户昵称"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item> -->
      <el-form-item label="服务人昵称" prop="serverNickname">
        <el-input
          v-model="queryParams.serverNickname"
          placeholder="请输入服务人昵称"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="订单状态" prop="status">
        <el-select v-model="queryParams.status" placeholder="请选择订单状态" clearable>
          <el-option
            v-for="dict in dict.type.domestic_order_status"
            :key="dict.value"
            :label="dict.label"
            :value="dict.value"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="服务类型" prop="workName">
        <el-input
          v-model="queryParams.workName"
          placeholder="请输入服务类型"
          clearable
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-table v-loading="loading" :data="orderList">
      <!-- <el-table-column label="主键id" align="center" prop="orderId" /> -->
      <el-table-column label="订单编号" align="center" prop="orderNumber" />
      <!-- <el-table-column label="客户昵称" align="center" prop="clientNickname" /> -->
      <el-table-column label="服务人昵称" align="center" prop="serverNickname" />
      <el-table-column label="服务人电话" align="center" prop="serverPhone" />
      <el-table-column label="服务类型" align="center" prop="workName" />
      <el-table-column label="订单状态" align="center" prop="status">
        <template slot-scope="scope">
          <dict-tag :options="dict.type.domestic_order_status" :value="scope.row.status"/>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['domestic:clientOrder:edit']"
          >查看</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="payOrder(scope.row)"
            v-hasPermi="['domestic:clientOrder:edit']"
            v-if="scope.row.status===4"
          >支付</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleEvaluation(scope.row)"
            v-hasPermi="['domestic:clientOrder:edit']"
            v-if="scope.row.status===5"
          >评价</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="cancelOrder(scope.row)"
            v-hasPermi="['domestic:clientOrder:edit']"
            v-if="scope.row.status===1"
          >取消</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <el-dialog :title="evaluationTitle" :visible.sync="evaluationOpen" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="evaluationRules" label-width="80px">
        <el-form-item>
          <div style="margin-left: 80px;">
            <el-avatar :size="100" src="https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png"></el-avatar>
            <el-descriptions :column="1">
                <el-descriptions-item label="服务人员">{{form.serverNickname}}</el-descriptions-item>
                <el-descriptions-item label="手机号">{{form.serverPhone}}</el-descriptions-item>
            </el-descriptions>
          </div>
        </el-form-item>
        <el-form-item label="评分" prop="orderEvaluation">
          <el-rate v-model="form.orderEvaluation"></el-rate>
        </el-form-item>
        <el-form-item label="评价内容" prop="orderEvaluationContent">
          <el-input v-model="form.orderEvaluationContent" type="textarea" placeholder="请输入评价内容" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="evaluationSubmitForm">确 定</el-button>
        <el-button @click="evaluationCancel">取 消</el-button>
      </div>
    </el-dialog>

    <!-- 添加或修改订单-家政服务对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item label="订单编号" prop="orderNumber">
          <el-input v-model="form.orderNumber" placeholder="请输入订单编号" readonly/>
        </el-form-item>
        <!-- <el-form-item label="客户id" prop="clientId">
          <el-input v-model="form.clientId" placeholder="请输入客户id" readonly/>
        </el-form-item> -->
        <!-- <el-form-item label="客户姓名" prop="clientName">
          <el-input v-model="form.clientName" placeholder="请输入客户姓名" readonly/>
        </el-form-item> -->
        <el-form-item label="客户昵称" prop="clientNickname">
          <el-input v-model="form.clientNickname" placeholder="请输入客户昵称" readonly/>
        </el-form-item>
        <el-form-item label="客户电话" prop="clientPhone">
          <el-input v-model="form.clientPhone" placeholder="请输入客户电话" readonly/>
        </el-form-item>
        <!-- <el-form-item label="服务人id" prop="serverId">
          <el-input v-model="form.serverId" placeholder="请输入服务人id" readonly/>
        </el-form-item> -->
        <!-- <el-form-item label="服务人姓名" prop="serverName">
          <el-input v-model="form.serverName" placeholder="请输入服务人姓名" readonly/>
        </el-form-item> -->
        <el-form-item label="服务人昵称" prop="serverNickname">
          <el-input v-model="form.serverNickname" placeholder="请输入服务人昵称" readonly/>
        </el-form-item>
        <el-form-item label="服务人电话" prop="serverPhone">
          <el-input v-model="form.serverPhone" placeholder="请输入服务人电话" readonly/>
        </el-form-item>
        <el-form-item label="订单状态" prop="status">
          <el-select v-model="form.status" placeholder="请选择订单状态":disabled='true'>
            <el-option
              v-for="dict in dict.type.domestic_order_status"
              :key="dict.value"
              :label="dict.label"
              :value="parseInt(dict.value)"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="工作地点" prop="workAddress">
          <el-input v-model="form.workAddress" placeholder="请输入工作地点" readonly/>
        </el-form-item>
        <el-form-item label="订单花费" prop="orderCost">
          <el-input v-model="form.orderCost" placeholder="请输入订单花费" readonly/>
        </el-form-item>
        <el-form-item label="订单评价" prop="orderEvaluation">
          <el-input v-model="form.orderEvaluation" placeholder="请输入订单评价" readonly/>
        </el-form-item>
        <!-- <el-form-item label="服务类型id" prop="workId">
          <el-input v-model="form.workId" placeholder="请输入服务类型id" readonly/>
        </el-form-item> -->
        <el-form-item label="服务类型" prop="workName">
          <el-input v-model="form.workName" placeholder="请输入服务类型" readonly/>
        </el-form-item>
        <el-form-item label="发起时间" prop="startTime">
          <el-date-picker clearable readonly
            v-model="form.startTime"
            format="yyyy-MM-dd HH:mm:ss"
            type="datetime"
            value-format="yyyy-MM-dd HH:mm:ss"
            placeholder="请选择发起时间">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="完成时间" prop="finishTime">
          <el-date-picker clearable readonly
            v-model="form.finishTime"
            format="yyyy-MM-dd HH:mm:ss"
            type="datetime"
            value-format="yyyy-MM-dd HH:mm:ss"
            placeholder="请选择完成时间">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="备注" prop="remark">
          <el-input v-model="form.remark" type="textarea" placeholder="请输入内容" readonly/>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { listOrder, getOrder, delOrder, addOrder, updateOrder } from "@/api/domestic/order";
import { clientGetMyOrder, clientCancelOrder, clientPayOrder, clientEvaluateOrder } from "@/api/domestic/clientOrder";

export default {
  name: "Order",
  dicts: ['domestic_order_status'],
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 订单-家政服务表格数据
      orderList: [],
      // 弹出层标题
      title: "",
      evaluationTitle: "",
      // 是否显示弹出层
      open: false,
      evaluationOpen: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        orderNumber: null,
        clientNickname: null,
        serverNickname: null,
        status: null,
        workName: null,
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
      },
      evaluationRules:{
        orderEvaluation: [
          { required: true, message: "评分不能为空", trigger: 'change' }
        ],
        orderEvaluationContent: [
          { required: true, message: "评价内容不能为空", trigger: "blur" }
        ],
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    /** 提交按钮 */
    evaluationSubmitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          clientEvaluateOrder(this.form).then(response => {
            this.$modal.msgSuccess("评价成功");
            this.evaluationOpen = false;
            this.getList();
          });
        }
      });
    },
    // 订单页面取消按钮
    evaluationCancel() {
      this.evaluationOpen = false;
      this.reset();
    },
    /** 打开评价页面 */
    handleEvaluation(row) {
      this.reset();
      this.form = row;
      this.form.orderEvaluation=5;
      this.evaluationOpen = true;
      this.evaluationTitle = "评价订单";
    },
    /** 支付订单 */
    payOrder(row) {
      const orderIds = row.orderId || this.ids;
      this.$modal.myPay('请先与服务人员面结订单...').then(function() {
        return clientPayOrder(orderIds);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("支付成功");
      }).catch(() => {});
    },
    /** 取消订单 */
    cancelOrder(row) {
      const orderIds = row.orderId || this.ids;
      this.$modal.confirm('是否取消该订单 ？').then(function() {
        return clientCancelOrder(orderIds);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("操作成功");
      }).catch(() => {});
    },
    /** 查询订单-家政服务列表 */
    getList() {
      this.loading = true;
      clientGetMyOrder(this.queryParams).then(response => {
        this.orderList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        orderId: null,
        orderNumber: null,
        clientId: null,
        clientName: null,
        clientNickname: null,
        clientPhone: null,
        serverId: null,
        serverName: null,
        serverNickname: null,
        serverPhone: null,
        status: null,
        workAddress: null,
        orderCost: null,
        orderEvaluation: null,
        orderEvaluationContent: null,
        workId: null,
        workName: null,
        startTime: null,
        finishTime: null,
        createBy: null,
        createTime: null,
        updateBy: null,
        updateTime: null,
        remark: null
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.orderId)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加订单-家政服务";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const orderId = row.orderId || this.ids
      getOrder(orderId).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "查看订单";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.orderId != null) {
            updateOrder(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addOrder(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const orderIds = row.orderId || this.ids;
      this.$modal.confirm('是否确认删除订单-家政服务编号为"' + orderIds + '"的数据项？').then(function() {
        return delOrder(orderIds);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => {});
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('domestic/order/export', {
        ...this.queryParams
      }, `order_${new Date().getTime()}.xlsx`)
    }
  }
};
</script>
