<template>
  <div style="padding: 10px; margin-bottom: 50px">
    <el-row>
      <el-col :span="8">
        <el-card style="width: 100%; min-height: 300px; color: #333">
          <div style="padding-bottom: 10px; border-bottom: 1px solid #ccc"> {{ chatlist }}<span
              style="font-size: 12px"></span></div>
          <div style="padding: 10px 0" v-for="user in users" :key="user.username">
            <span>{{ user.username }}</span>
            <button class="el-icon-chat-dot-round" style="margin-left: 10px; font-size: 16px; cursor: pointer"
              @click="chatUser = user.username"></button>
            <span style="font-size: 12px;color: limegreen; margin-left: 5px"
              v-if="user.username === chatUser">连接中...</span>
          </div>
        </el-card>
      </el-col>
      <el-col :span="16">
        <div style="width: 800px; margin: 0 auto; background-color: white;
                                        border-radius: 5px; box-shadow: 0 0 10px #ccc">
          <div style="text-align: center; line-height: 50px;">
            {{chattitle}}（{{ chatUser }}）
          </div>
          <div style="height: 350px; overflow:auto; border-top: 1px solid #ccc" v-html="content" ref="myDiv">
          </div>
          <div style="height: 200px">
            <textarea v-model="text" style="height: 160px; width: 100%; padding: 20px; border: none; border-top: 1px solid #ccc;
              border-bottom: 1px solid #ccc; outline: none"></textarea>
            <div style="text-align: right; padding-right: 10px">
              <el-button type="primary" size="mini" @click="send">发送</el-button>
            </div>
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>
<script>
let socket;
export default {
  name: "Im",
  data() {
    return {
      chatlist: '',
      chattitle: '',
      circleUrl: 'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png',
      user: {},
      isCollapse: false,
      users: [],
      chatUser: '',
      text: "",
      messages: [],
      content: '',
      curUser: '',

    }
  },
  created() {
    this.beforeinit()
  },
  mounted() {
    this.$nextTick(() => {
      const myLinks = this.$refs.myDiv.querySelectorAll('a[data-action]');
      myLinks.forEach((link) => {
        link.addEventListener('click', this.handleClick);
      });
    });
  },
  beforeDestroy() {
    const myLinks = this.$refs.myDiv.querySelectorAll('a[data-action]');
    myLinks.forEach((link) => {
      link.removeEventListener('click', this.handleClick);
    });
  },
  methods: {
    handleClick(event) {
      event.preventDefault();
      const action = event.target.dataset.action;
      if (this[action]) {
        this[action](event);
      }
    },
    myFunction1(event) {
      console.log();
      console.log('你点击了“点击这里执行函数1”');
      let html = "<div class=\"el-row\" style=\"padding: 5px 0\">\n" +
        "  <div class=\"el-col el-col-2\" style=\"text-align: right\">\n" +
        "  <span class=\"el-avatar el-avatar--circle\" style=\"height: 40px; width: 40px; line-height: 40px;\">\n" +
        "    <img src=\"https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png\" style=\"object-fit: cover;\">\n" +
        "  </span>\n" +
        "  </div>\n" +
        "  <div class=\"el-col el-col-22\" style=\"text-align: left; padding-left: 10px\">\n" +
        "    <div class=\"tip right\">主要的费用为服务费，按时间计算 </div>\n" +
        "  </div>\n" +
        "</div>"
      this.content += html
      html = "<div class=\"el-row\" style=\"padding: 5px 0\">\n" +
        "  <div class=\"el-col el-col-2\" style=\"text-align: right\">\n" +
        "  <span class=\"el-avatar el-avatar--circle\" style=\"height: 40px; width: 40px; line-height: 40px;\">\n" +
        "    <img src=\"https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png\" style=\"object-fit: cover;\">\n" +
        "  </span>\n" +
        "  </div>\n" +
        "  <div class=\"el-col el-col-22\" style=\"text-align: left; padding-left: 10px\">\n" +
        "    <div class=\"tip right\">\n" +
        "      <a href=\"#\" data-action=\"myFunction1\">请问怎么计费</a><br>\n" +
        "      <a href=\"#\" data-action=\"myFunction3\">请问需要花费多少时间</a><br>\n" +
        "      <a href=\"#\" data-action=\"myFunction4\">请问如何售后管理</a><br>\n" +
        "      <a href=\"#\" data-action=\"myFunction2\">人工服务</a>\n" +
        "    </div>\n" +
        "  </div>\n" +
        "</div>"
      this.content += html
      this.$nextTick(() => {
        const myLinks = this.$refs.myDiv.querySelectorAll('a[data-action]');
        myLinks.forEach((link) => {
          link.addEventListener('click', this.handleClick);
        });
      }
      )
    },
    myFunction3(event) {
      let html = "<div class=\"el-row\" style=\"padding: 5px 0\">\n" +
        "  <div class=\"el-col el-col-2\" style=\"text-align: right\">\n" +
        "  <span class=\"el-avatar el-avatar--circle\" style=\"height: 40px; width: 40px; line-height: 40px;\">\n" +
        "    <img src=\"https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png\" style=\"object-fit: cover;\">\n" +
        "  </span>\n" +
        "  </div>\n" +
        "  <div class=\"el-col el-col-22\" style=\"text-align: left; padding-left: 10px\">\n" +
        "    <div class=\"tip right\">时间我们会尽快安排工作人员的，亲！ </div>\n" +
        "  </div>\n" +
        "</div>"
      this.content += html
      html = "<div class=\"el-row\" style=\"padding: 5px 0\">\n" +
        "  <div class=\"el-col el-col-2\" style=\"text-align: right\">\n" +
        "  <span class=\"el-avatar el-avatar--circle\" style=\"height: 40px; width: 40px; line-height: 40px;\">\n" +
        "    <img src=\"https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png\" style=\"object-fit: cover;\">\n" +
        "  </span>\n" +
        "  </div>\n" +
        "  <div class=\"el-col el-col-22\" style=\"text-align: left; padding-left: 10px\">\n" +
        "    <div class=\"tip right\">\n" +
        "      <a href=\"#\" data-action=\"myFunction1\">请问怎么计费</a><br>\n" +
        "      <a href=\"#\" data-action=\"myFunction3\">请问需要花费多少时间</a><br>\n" +
        "      <a href=\"#\" data-action=\"myFunction4\">请问如何售后管理</a><br>\n" +
        "      <a href=\"#\" data-action=\"myFunction2\">人工服务</a>\n" +
        "    </div>\n" +
        "  </div>\n" +
        "</div>"
      this.content += html
      this.$nextTick(() => {
        const myLinks = this.$refs.myDiv.querySelectorAll('a[data-action]');
        myLinks.forEach((link) => {
          link.addEventListener('click', this.handleClick);
        });
      }
      )
    },
    myFunction4(event) {
      let html = "<div class=\"el-row\" style=\"padding: 5px 0\">\n" +
        "  <div class=\"el-col el-col-2\" style=\"text-align: right\">\n" +
        "  <span class=\"el-avatar el-avatar--circle\" style=\"height: 40px; width: 40px; line-height: 40px;\">\n" +
        "    <img src=\"https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png\" style=\"object-fit: cover;\">\n" +
        "  </span>\n" +
        "  </div>\n" +
        "  <div class=\"el-col el-col-22\" style=\"text-align: left; padding-left: 10px\">\n" +
        "    <div class=\"tip right\">售后支持七天无条件上门服务，您可以咨询客服姐姐 </div>\n" +
        "  </div>\n" +
        "</div>"
      this.content += html
      html = "<div class=\"el-row\" style=\"padding: 5px 0\">\n" +
        "  <div class=\"el-col el-col-2\" style=\"text-align: right\">\n" +
        "  <span class=\"el-avatar el-avatar--circle\" style=\"height: 40px; width: 40px; line-height: 40px;\">\n" +
        "    <img src=\"https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png\" style=\"object-fit: cover;\">\n" +
        "  </span>\n" +
        "  </div>\n" +
        "  <div class=\"el-col el-col-22\" style=\"text-align: left; padding-left: 10px\">\n" +
        "    <div class=\"tip right\">\n" +
        "      <a href=\"#\" data-action=\"myFunction1\">请问怎么计费</a><br>\n" +
        "      <a href=\"#\" data-action=\"myFunction3\">请问需要花费多少时间</a><br>\n" +
        "      <a href=\"#\" data-action=\"myFunction4\">请问如何售后管理</a><br>\n" +
        "      <a href=\"#\" data-action=\"myFunction2\">人工服务</a>\n" +
        "    </div>\n" +
        "  </div>\n" +
        "</div>"
      this.content += html
      this.$nextTick(() => {
        const myLinks = this.$refs.myDiv.querySelectorAll('a[data-action]');
        myLinks.forEach((link) => {
          link.addEventListener('click', this.handleClick);
        });
      }
      )
    },
    myFunction2(event) {
      console.log('人工”');
      this.init()

    },
    send() {
      if (!this.chatUser) {
        this.$message({ type: 'warning', message: "请选择对象" })
        return;
      }
      console.log("sendding user is :   " + this.user.username);
      if (!this.text) {
        this.$message({ type: 'warning', message: "请输入内容" })
      } else {
        if (typeof (WebSocket) == "undefined") {
          console.log("您的浏览器不支持WebSocket");
        } else {
          console.log("您的浏览器支持WebSocket");
          let message = { from: this.user.username, to: this.chatUser, text: this.text }
          socket.send(JSON.stringify(message));
          this.messages.push({ user: this.user.username, text: this.text })
          console.log("这是现在的用户已经发送的消息，检查是否为undefined：" + this.curUser);
          this.user.username = this.curUser
          console.log("现在检查this.user.username是否为undefined：" + this.user.username);
          this.createContent(null, this.user.username, this.text)
          this.text = '';
        }
      }
    },
    createContent(remoteUser, nowUser, text) {
      let html
      if (nowUser) {
        html = "<div class=\"el-row\" style=\"padding: 5px 0\">\n" +
          "  <div class=\"el-col el-col-22\" style=\"text-align: right; padding-right: 10px\">\n" +
          "    <div class=\"tip left\">" + text + "</div>\n" +
          "  </div>\n" +
          "  <div class=\"el-col el-col-2\">\n" +
          "  <span class=\"el-avatar el-avatar--circle\" style=\"height: 40px; width: 40px; line-height: 40px;\">\n" +
          "    <img src=\"https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png\" style=\"object-fit: cover;\">\n" +
          "  </span>\n" +
          "  </div>\n" +
          "</div>";
      } else if (remoteUser) {
        html = "<div class=\"el-row\" style=\"padding: 5px 0\">\n" +
          "  <div class=\"el-col el-col-2\" style=\"text-align: right\">\n" +
          "  <span class=\"el-avatar el-avatar--circle\" style=\"height: 40px; width: 40px; line-height: 40px;\">\n" +
          "    <img src=\"https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png\" style=\"object-fit: cover;\">\n" +
          "  </span>\n" +
          "  </div>\n" +
          "  <div class=\"el-col el-col-22\" style=\"text-align: left; padding-left: 10px\">\n" +
          "    <div class=\"tip right\">" + text + "</div>\n" +
          "  </div>\n" +
          "</div>";
      }

      console.log(html)
      this.content += html;
    },
    beforeinit() {
      console.log(this.$store.state.user);
      if (this.$store.state.user.roles[0] == 'customerServer') {
        this.chatlist = '客户列表'
        this.chattitle = '客户回复'
        this.init()
      } else if (this.$store.state.user.roles[0] == 'client') {
        this.chatlist = '客服列表'
        this.chattitle = '咨询客服'
        let html;
        html = "<div class=\"el-row\" style=\"padding: 5px 0\">\n" +
          "  <div class=\"el-col el-col-2\" style=\"text-align: right\">\n" +
          "  <span class=\"el-avatar el-avatar--circle\" style=\"height: 40px; width: 40px; line-height: 40px;\">\n" +
          "    <img src=\"https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png\" style=\"object-fit: cover;\">\n" +
          "  </span>\n" +
          "  </div>\n" +
          "  <div class=\"el-col el-col-22\" style=\"text-align: left; padding-left: 10px\">\n" +
          // 这里是需要渲染的地方
          "    <div class=\"tip right\" >\n" +
          "      <a href=\"#\" data-action=\"myFunction1\" style=\"text - decoration: underline; \">请问怎么计费</a><br>\n" +
          "      <a href=\"#\" data-action=\"myFunction3\">请问需要花费多少时间</a><br>\n" +
          "      <a href=\"#\" data-action=\"myFunction4\">请问如何售后管理</a><br>\n" +
          "      <a href=\"#\" data-action=\"myFunction2\">人工服务</a>\n" +
          "    </div>\n" +
          "  </div>\n" +
          "</div>";
        this.content += html
      }
    },
    init() {
      console.log(this.$store.state.user);
      let username = this.$store.state.user.name
      this.curUser = username
      console.log("这是现在的用户：" + this.curUser);
      this.user.name = username
      console.log("check is username???:    " + this.user.name);
      const vm = this
      let _this = this;
      if (typeof (WebSocket) == "undefined") {
        console.log("您的浏览器不支持WebSocket");
      } else {
        console.log("您的浏览器支持WebSocket");
        let socketUrl = "ws://localhost:9201/imserver/" + username;
        if (socket != null) {
          socket.close();
          socket = null;
        }
        socket = new WebSocket(socketUrl);
        socket.onopen = function () {
          console.log("websocket已打开");
        };
        socket.onmessage = function (msg) {
          console.log("收到数据====" + msg.data)
          let data = JSON.parse(msg.data)
          console.log("chatUser is :");
          console.log(vm.chatUser);
          if (data.from && vm.chatUser != data.from) {
            vm.$message({
              message: '你收到来自' + data.from + '的消息： ' + data.text + ', 请注意及时查看！',
              type: 'info'
            })
          }
          if (data.users) {
            _this.users = data.users.filter(user => user.username !== username)
          } else {
            if (data.from === _this.chatUser) {
              _this.messages.push(data)
              _this.createContent(data.from, null, data.text)
            }
          }
        };
        socket.onclose = function () {
          console.log("websocket已关闭");
        };
        socket.onerror = function () {
          console.log("websocket发生了错误");
        }
      }
    }
  }
}
</script>
<style >
.tip {
  color: white;
  text-align: left;
  border-radius: 10px;
  font-family: sans-serif;
  padding: 10px;
  width: auto;
  display: inline-block !important;
  display: inline;
}

.right {
  background-color: deepskyblue;
}

.left {
  background-color: forestgreen;
}
</style>
