<template>
  <div class="app-container">
    <h4 class="form-header h4">员工 — 基本信息</h4>
    <el-form ref="form" :model="form" label-width="80px">
      <el-row>
        <el-col :span="8" :offset="2">
          <el-form-item label="用户昵称" prop="nickName">
            <el-input v-model="form.nickName" disabled />
          </el-form-item>
        </el-col>
        <el-col :span="8" :offset="2">
          <el-form-item label="登录账号" prop="userName">
            <el-input  v-model="form.userName" disabled />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>

    <h4 class="form-header h4">员工 — 工作项目</h4>
    <el-table v-loading="loading" :row-key="getRowKey" @row-click="clickRow" ref="table" @selection-change="handleSelectionChange" :data="workList.slice((pageNum-1)*pageSize,pageNum*pageSize)">
      <el-table-column label="序号" type="index" align="center">
        <template slot-scope="scope">
          <span>{{(pageNum - 1) * pageSize + scope.$index + 1}}</span>
        </template>
      </el-table-column>
      <el-table-column type="selection" :reserve-selection="true" width="55"></el-table-column>
      <el-table-column label="服务编号" align="center" prop="workId" />
      <el-table-column label="工作名称" align="center" prop="workName" />
      <!-- <el-table-column label="项目领导" align="center" prop="leader" /> -->
      <el-table-column label="创建时间" align="center" prop="createTime" width="180">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.createTime) }}</span>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="pageNum" :limit.sync="pageSize" />

    <el-form label-width="100px">
      <el-form-item style="text-align: center;margin-left:-120px;margin-top:30px;">
        <el-button type="primary" @click="submitForm()">提交</el-button>
        <el-button @click="close()">返回</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { getAuthRole, updateAuthRole } from "@/api/system/user";
import { getWorkOfServer, updateWorkOfServer } from "@/api/domestic/server";
export default {
  name: "AllocWork",
  data() {
    return {
       // 遮罩层
      loading: true,
      // 分页信息
      total: 0,
      pageNum: 1,
      pageSize: 10,
      // 选中角色编号
      roleIds:[],
      // 选中服务编号
      workIds:[],
      // 角色信息
      roles: [],
      // 用户信息
      form: {},
      // 服务项目信息
      workList: [],
      // 员工已选项目
      works: [],
    };
  },
  created() {
    const userId = this.$route.params && this.$route.params.userId;
    if (userId) {
      this.loading = true;
      getWorkOfServer(userId).then((response) => {
        this.form = response.user;
        this.workList = response.workList;
        this.works = response.works;
        this.total = this.workList.length;
        this.$nextTick(() => {
          this.workList.forEach((row) => {
            this.works.forEach((work) =>{
              if(row.workId===work.workId)
                this.$refs.table.toggleRowSelection(row);
            });
          });
        });
        this.loading = false;
      });
    }
  },
  methods: {
    /** 单击选中行数据 */
    clickRow(row) {
      this.$refs.table.toggleRowSelection(row);
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.workIds = selection.map((item) => item.workId);
    },
    // 保存选中的数据编号
    getRowKey(row) {
      return row.workId;
    },
    /** 提交按钮 */
    submitForm() {
      const userId = this.form.userId;
      const workIds = this.workIds.join(",");
      updateWorkOfServer({ userId: userId, workIds: workIds }).then((response) => {
        this.$modal.msgSuccess("授权成功");
        this.close();
      });
    },
    /** 关闭按钮 */
    close() {
      const obj = { path: "/domestic/server" };
      this.$tab.closeOpenPage(obj);
    },
  },
};
</script>
