<template>
    <div>
        <el-steps :active="active" simple>
            <el-step title="选择服务类型" icon="el-icon-edit"></el-step>
            <el-step title="选择员工" icon="el-icon-upload"></el-step>
            <el-step title="确认下单" icon="el-icon-picture"></el-step>
        </el-steps>
        <div v-if="active == 1" >
            <div class="fuwuType" >
                <div>
                    <el-button v-for="(workName, index ) in workList" :key="workName.id" style="margin-top: 12px"
                        @click="clickButton(index)">{{ workName.workName }}</el-button>
                </div>
            </div>
            <div class="dataList" style="width: 100%;height:710px;display: flex;flex-wrap:wrap;float: left">

                <div style="height: 340px;width: 24%;border-radius: 100px;margin-top: 10px;margin-left: 10px" v-for="(item, index) in currentList" :key="index" >
                    <div v-if="choseIndex === index" class="chose">
                        <i class="el-icon-circle-check"></i>
                    </div>
                    <el-card class="box-card" style="height: 350px;width: 100%">
                        <div slot="header" class="clearfix" >
                            <span style=" align-items: center">{{ item.workName }}</span>
                        </div>
                        <img :src=item.image :fit="fit" @click="change(index, item.workId,item)" class="text item" style="height: 250px;width: 100%">
                    </el-card>
                </div>

            </div>

        </div>
        <div v-if="active == 2" class="user" style="width: 100%;height: 400px">
            <div style="width: 100%;">
                <el-select v-model="value" placeholder="请选择员工" @change="changeChose" style="width: 350px;margin-left: 30px;margin-top: 20px">
                    <el-option v-for="item in userList" :key="item.userId" :label="item.nickName" :value="item">
                    </el-option>
                </el-select>

            </div>
          <div  >
            <el-descriptions title="人员信息" style="width: 50%;margin-left: 600px;margin-top: -30px" border>
                <el-descriptions-item label="人员名" >{{ userinfo.nickName }}</el-descriptions-item>
                <el-descriptions-item label="手机号">{{ userinfo.phonenumber }}</el-descriptions-item>
                <el-descriptions-item label="工号">{{ userinfo.userId }}</el-descriptions-item>
                <el-descriptions-item label="备注">

                </el-descriptions-item>
            </el-descriptions>
          </div>
        </div>
        <div v-if="active == 3">
            <div>

                <el-form ref="form" :model="form" :rules="rules" label-width="80px">
                    <el-form-item label="服务类型" prop="clientPhone">
                        <el-input v-model="form.workName" readonly/>
                    </el-form-item>
                    <el-form-item label="服务人员" prop="clientPhone">
                        <el-input v-model="form.serverNickname" readonly/>
                    </el-form-item>
                    <el-form-item label="工作地点" prop="workAddress">
                        <el-input v-model="form.workAddress" placeholder="请输入工作地点" />
                    </el-form-item>
                    <el-form-item label="备注" prop="remark">
                        <el-input v-model="form.remark" type="textarea" placeholder="请输入内容" />
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button type="primary" @click="submitForm" style="margin-left: 700px;height: 30px;width: 80px">确 定</el-button>
                </div>


            </div>

        </div>
        <el-button v-if="active < 3" style="margin-top: 12px;margin-left: 700px;height: 30px;width: 80px" @click="next" type="primary" >下一步</el-button>
        <el-button style="margin-top: 12px;margin-left: 700px;height: 30px;width: 80px" @click="last" v-if="active > 1"  plain>返回</el-button>
    </div>
</template>

<script>
import { getUserProfile } from "@/api/system/user";
import { listWork, getWork, delWork, addWork, updateWork } from "@/api/domestic/work";
import Treeselect from "@riophae/vue-treeselect";
import workImage from "../work/workImage";
import { workTreeSelect, listServer, addServer, getWorkOfServer } from "@/api/domestic/server";
import { submitOrder } from "@/api/domestic/clientOrder";






export default {
    name: "realTime",

    name: "Work",
    dicts: ['sys_job_status'],
    components: {
        Treeselect, workImage
    },
    data() {
        return {

            workinfo: '',
            userinfo: '',
            choseuserID: '',
            user: {},
            roleGroup: {},
            postGroup: {},
            userList: null,
            // 遮罩层
            loading: true,
            choseIndex: -1,
            // 显示搜索条件
            showSearch: true,
            // 服务表格数据
            workList: [],
            // 服务树选项
            workOptions: [],
            // 弹出层标题
            title: "",
            // 是否显示弹出层
            open: false,
            // 是否展开，默认全部展开
            isExpandAll: true,
            // 重新渲染表格状态
            refreshTable: true,
            // 查询参数
            queryParams: {
                workName: null,
                status: null,
            },
            nowDate: '',

            // 表单参数
            form: {
                orderId: null,
                orderNumber: null,
                clientId: null,
                clientName: null,
                clientNickname: null,
                clientPhone: null,
                serverId: null,
                serverName: null,
                serverNickname: null,
                serverPhone: null,
                status: null,
                workAddress: null,
                orderCost: null,
                orderEvaluation: null,
                workId: null,
                workName: null,
                startTime: null,
                finishTime: null,
                createBy: null,
                createTime: null,
                updateBy: null,
                updateTime: null,
                remark: null
            },
            queryParams: {
                pageNum: 1,
                pageSize: 10,
                userName: undefined,
                phonenumber: undefined,
                status: undefined,
                workId: 0,
                workName: undefined
            },


            // 表单校验
            active: 1,
            currentIndex: '',
            choseuserid: '',
            value: '',

            currentList: [

            ],
            printInfo: '',

            ruleForm: {
                name: '',
                phone: '',
                age: ''
            },
            rules: {
                name: [
                    { required: true, message: '姓名必填', trigger: 'blur' }
                ],
                phone: [
                    { required: true, message: '手机号必填', trigger: 'blur' }
                ],
                age: [
                    { required: true, message: '年龄必填', trigger: 'blur' }
                ]
            }

        }







    },

    watch: {
        currentIndex(newValue, oldValue) {
            this.currentList = this.workList[newValue].children
        }
    },
    created() {
        this.getUser();
        this.getList();
        this.currentTime();

    },
    methods: {



        getuserList() {
            this.loading = true;
            listServer(this.addDateRange(this.queryParams, this.dateRange)).then(response => {
                this.userList = response.rows;
                this.total = response.total;
                this.loading = false;
            }
            );
        },


        cancel() {
            this.open = false;
            this.reset();
        },

        getUser() {
            getUserProfile().then(response => {
                this.user = response.data;
                this.roleGroup = response.roleGroup;
                this.postGroup = response.postGroup;
            });
        },
        // 表单重置
        reset() {
            this.form = {
                orderId: null,
                orderNumber: null,
                clientId: null,
                clientName: null,
                clientNickname: null,
                clientPhone: null,
                serverId: null,
                serverName: null,
                serverNickname: null,
                serverPhone: null,
                status: null,
                workAddress: null,
                orderCost: null,
                orderEvaluation: null,
                workId: null,
                workName: null,
                startTime: null,
                finishTime: null,
                createBy: null,
                createTime: null,
                updateBy: null,
                updateTime: null,
                remark: null
            };
        },

        getserverinfo(id) {
            getWorkOfServer(id).then(response => {
                this.userinfo = response.user;
                console.log(this.userinfo.serverNickname);
                this.form.serverName = this.userinfo.userName;
                this.form.serverPhone = this.userinfo.phonenumber;
                this.form.serverNickname = this.userinfo.nickName;

            }
            );

        },
        /** 查询服务列表 */
        getList() {
            this.loading = true;
            listWork(this.queryParams).then(response => {
                this.workList = this.handleTree(response.data, "workId", "parentId");
                this.loading = false;
            });
        },
        /** 转换服务数据结构 */
        normalizer(node) {
            if (node.children && !node.children.length) {
                delete node.children;
            }
            return {
                id: node.workId,
                label: node.workName,
                children: node.children
            };

        },
        getWorks(row) {
            getWork(row).then(response => {
                this.workinfo = response.data;
                console.log(this.workinfo.workName)
                this.form.workName = this.workinfo.workName;

            });
        },

        submitForm() {
          console.log(this.form);
          submitOrder(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.close();
          });

        },
        /** 关闭按钮 */
        close() {
          const obj = { path: "/client/clientOrder" };
          this.$tab.closeOpenPage(obj);
        },


        resetForm(formName) {
            this.$refs[formName].resetFields();
        },
        last() {
            if (this.active-- < 0) {
              this.active = 1;
            }
            //判断上一步
            if(this.active == 1){
              this.reset();
              this.userinfo = '';
              this.choseIndex=-1;
            }else if(this.active == 2){
            }
        },
        next() {
            // if(this.form.workId !== null && this.active < 3) {
            //   this.active++;
            //   if(this.active===2){
            //     this.getuserList();
            //   }
            // }else if(this.form.workId === null){
            //   this.$modal.msgWarning("请先选择服务类型");
            // }
            if(this.active==1){
              if(this.form.workId !== null) {
                this.active++;
                this.getuserList();
              }else{
                this.$modal.msgWarning("请先选择服务类型");
              }
            }else if(this.active==2){
              if(this.form.serverId !== null){
                this.active++;
              }else{
                this.$modal.msgWarning("请先选择员工");
              }
            }
        },

        clickButton(index) {
            this.currentIndex = index;

            this.reset();
            this.choseIndex = -1;
        },



        getDate() {
            let date = new Date();
            let year = date.getFullYear(); // 年
            let month = date.getMonth() + 1; // 月
            let day = date.getDate(); // 日
            let hour = date.getHours(); // 时
            hour = hour < 10 ? "0" + hour : hour; // 如果只有一位，则前面补零
            month = month < 10 ? "0" + month : month; // 如果只有一位，则前面补零
            day = day < 10 ? "0" + day : day; // 如果只有一位，则前面补零

            let minute = date.getMinutes(); // 分
            minute = minute < 10 ? "0" + minute : minute; // 如果只有一位，则前面补零
            let second = date.getSeconds(); // 秒
            second = second < 10 ? "0" + second : second; // 如果只有一位，则前面补零
            this.nowDate = `${year}-${month}-${day}T${hour}:${minute}:${second}`;
        },

        //定时器调取当前时间

        currentTime() {
            setInterval(() => {
                this.getDate()
            }, 1000)
        },


        change(i, j , item) {
            this.choseIndex = i;
            this.form.workId = j;
            this.form.workName = item.workName;

            this.queryParams.workId = j;
            this.queryParams.workName = item.workName;

        },
        changeChose(server) {
            // console.log(this.nowDate);
            this.form.serverId = server.userId;
            this.form.serverName = server.userName;
            this.form.serverNickname = server.nickName;
            this.form.serverPhone = server.phonenumber;
            this.userinfo = server;
            // this.getserverinfo(val);
        }
    },
};
</script>

<style lang="scss" scoped>
.fuwuType {
    display: flex;

    justify-content: center;
}
ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.playcard {
  width: 300px;
  height: 400px;
  cursor: pointer;
}
/*.dataList {*/
/*    div {*/
/*        display: flex;*/
/*        width: 301px;*/
/*        height: 300px;*/
/*        !*position: relative;*!*/
/*       background-color:black;*/

/*        .chose {*/
/*            width: 30px;*/
/*            height: 20px;*/
/*            position: absolute;*/
/*            color: green;*/
/*            font-size: 30px;*/
/*            top: 10px;*/
/*            right: 10px;*/

/*        }*/

/*        img {*/
/*            width: 300px;*/
/*            height: 300px;*/
/*        }*/
/*    }*/

/*}*/

.text {
    font-size: 14px;
}

.item {
    margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.box-card {
    width: 480px;
}
</style>
