<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<script>
import * as echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme
import resize from './mixins/resize'
import getbarchart_data from "../../api/login";

const animationDuration = 6000

export default {
  mixins: [resize],
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '300px'
    }
  },
  data() {
    return {
      chart: null,
      xiaoadata:{//小a
        baojie:32,
        yunshu:123,
        chaizhuang:231,
        banqian:23,
      },xiaobdata:{
        baojie:31,
        yunshu:240,
        chaizhuang:319,
        banqian:100,
      },fuzhoudata:{
        baojie:323,
        yunshu:240,
        chaizhuang:121,
        banqian:100,
      },jiazhengdata:{
        baojie:20,
        yunshu:240,
        chaizhuang:149,
        banqian:123,
      },weiweidata:{
        baojie:32,
        yunshu:1240,
        chaizhuang:149,
        banqian:100,
      },linbeidata:{
        baojie:330,
        yunshu:240,
        chaizhuang:29,
        banqian:100,
      },xiuxiudata:{
        baojie:320,
        yunshu:210,
        chaizhuang:19,
        banqian:100,
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.initChart()
    })
    this.get_barchart_data()
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el, 'macarons')
      this.chart.setOption({
        tooltip: {
          trigger: 'axis',
          axisPointer: { // 坐标轴指示器，坐标轴触发有效
            type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
          }
        },
        grid: {
          top: 10,
          left: '2%',
          right: '2%',
          bottom: '3%',
          containLabel: true
        },
        xAxis: [{
          type: 'category',
          data: ['小a家政', '小b家政', '福州家政分公司', '家政小行', '威威家政', '林北家政', '秀秀家政'],
          axisTick: {
            alignWithLabel: true
          }
        }],
        yAxis: [{
          type: 'value',
          axisTick: {
            show: false
          }
        }],
        series: [{
          name: '保洁服务',
          type: 'bar',
          stack: 'vistors',
          barWidth: '60%',
          data: [this.xiaoadata.baojie, this.xiaobdata.baojie, this.fuzhoudata.baojie, this.jiazhengdata.baojie,
            this.weiweidata.baojie, this.linbeidata.baojie,this.xiuxiudata.baojie],
          animationDuration
        }, {
          name: '运输服务',
          type: 'bar',
          stack: 'vistors',
          barWidth: '60%',
          data: [this.xiaoadata.yunshu, this.xiaobdata.yunshu, this.fuzhoudata.yunshu, this.jiazhengdata.yunshu,
            this.weiweidata.yunshu, this.linbeidata.yunshu,this.xiuxiudata.yunshu],
          animationDuration
        }, {
          name: '拆装服务',
          type: 'bar',
          stack: 'vistors',
          barWidth: '60%',
          data: [this.xiaoadata.chaizhuang, this.xiaobdata.chaizhuang, this.fuzhoudata.chaizhuang, this.jiazhengdata.chaizhuang,
            this.weiweidata.chaizhuang, this.linbeidata.chaizhuang,this.xiuxiudata.chaizhuang],
          animationDuration
        },{
          name: '搬迁服务',
          type: 'bar',
          stack: 'vistors',
          barWidth: '60%',
          data: [this.xiaoadata.banqian, this.xiaobdata.banqian, this.fuzhoudata.banqian, this.jiazhengdata.banqian,
            this.weiweidata.banqian, this.linbeidata.banqian,this.xiuxiudata.banqian],
          animationDuration
        }]
      })
    },
    get_barchart_data(){
      getbarchart_data.then(res => {
        this.captchaEnabled = res.captchaEnabled === undefined ? true : res.captchaEnabled;
        if (this.captchaEnabled) {
          this.xiaoadata.baojie=res.data.xiaoabaojie;
          this.xiaoadata.banqian=res.data.xiaoabanqian;
          this.xiaoadata.yunshu=res.data.xiaoayunshu;
          this.xiaoadata.chaizhuang=res.data.xiaoachaizhuang;

          this.xiaobdata.baojie=res.data.xiaobdatabaojie;
          this.xiaobdata.banqian=res.data.xiaobdatabanqian;
          this.xiaobdata.yunshu=res.data.xiaobdatayunshu;
          this.xiaobdata.chaizhuang=res.data.xiaobdatachaizhuang;

          this.jiazhengdata.baojie=res.data.jiazhengbaojie;
          this.jiazhengdata.banqian=res.data.jiazhengbanqian;
          this.jiazhengdata.yunshu=res.data.jiazhengyunshu;
          this.jiazhengdata.chaizhuang=res.data.jiazhengchaizhuang;

          this.weiweidata.baojie=res.data.weiweibaojie;
          this.weiweidata.banqian=res.data.weiweibanqian;
          this.weiweidata.yunshu=res.data.weiweiyunshu;
          this.weiweidata.chaizhuang=res.data.weiweichaizhuang;

          this.linbeidata.baojie=res.data.linbeibaojie;
          this.linbeidata.banqian=res.data.linbeibanqian;
          this.linbeidata.yunshu=res.data.linbeiyunshu;
          this.linbeidata.chaizhuang=res.data.linbeichaizhuang;

          this.fuzhoudata.baojie=res.data.fuzhoubaojie;
          this.fuzhoudata.banqian=res.data.fuzhoubanqian;
          this.fuzhoudata.yunshu=res.data.fuzhouyunshu;
          this.fuzhoudata.chaizhuang=res.data.fuzhouchaizhuang;

          this.xiuxiudata.baojie=res.data.xiuxiubaojie;
          this.xiuxiudata.banqian=res.data.xiuxiubanqian;
          this.xiuxiudata.yunshu=res.data.xiuxiuyunshu;
          this.xiuxiudata.chaizhuang=res.data.xiuxiuchaizhuang;
        }
      });
    }
  }
}
</script>
