<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<script>
import * as echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme
import resize from './mixins/resize'
import getpiechart_data from "../../api/login.js"
export default {
  mixins: [resize],
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '300px'
    }
  },
  data() {
    return {
      chart: null,
      piechartdata:{
        dingdan_daijieshou:320,
        dingdan_yijieshou:240,
        dingdan_yiqueren:149,
        dingdan_yiquxiao:100,
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.initChart()
    })
    this.get_piechart_data()
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el, 'macarons')
      this.chart.setOption({
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
          left: 'center',
          bottom: '10',
          data: ['待接受订单', '已接受订单', '已确认订单', '已取消订单']
        },
        series: [
          {
            name: 'WEEKLY WRITE ARTICLES',
            type: 'pie',
            roseType: 'radius',
            radius: [15, 95],
            center: ['50%', '38%'],
            data: [
              { value:this.piechartdata.dingdan_daijieshou, name: '待接受订单' },
              { value: this.piechartdata.dingdan_yijieshou, name: '已接受订单' },
              { value: this.piechartdata.dingdan_yiqueren, name: '已确认订单' },
              { value: this.piechartdata.dingdan_yiquxiao, name: '已取消订单' },
            ],
            animationEasing: 'cubicInOut',
            animationDuration: 2600
          }
        ]
      })
    },
    get_piechart_data(){
      getpiechart_data.then(res => {
        this.captchaEnabled = res.captchaEnabled === undefined ? true : res.captchaEnabled;
        if (this.captchaEnabled) {
          this.piechartdata.dingdan_daijieshou=res.data.dingdan_daijieshou;
          his.piechartdata.dingdan_yijieshou=res.data.dingdan_yijieshou;
          his.piechartdata.dingdan_yiqueren=res.data.dingdan_yiqueren;
          his.piechartdata.dingdan_yiquxiao=res.data.dingdan_yiquxiao;
        }
      });
    },
  }
}
</script>
