<template >
  <div>
  <el-row :gutter="40" class="panel-group">
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <div class="card-panel" @click="handleSetLineChartData('newVisitis')">
        <div class="card-panel-icon-wrapper icon-people">
          <svg-icon icon-class="finishdingdan" class-name="card-panel-icon" />
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">
            已完成订单
          </div>
          <count-to :start-val="0" :end-val="this.icon_data.finishdingdan" :duration="2600" class="card-panel-num" />
        </div>
      </div>
    </el-col>
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <div class="card-panel" @click="handleSetLineChartData('messages')">
        <div class="card-panel-icon-wrapper icon-message">
          <svg-icon icon-class="nodingdan" class-name="card-panel-icon" />
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">
            待接受订单
          </div>
          <count-to :start-val="0" :end-val="this.icon_data.daijieshoudingdan" :duration="3000" class="card-panel-num" />
        </div>
      </div>
    </el-col>
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <div class="card-panel" @click="handleSetLineChartData('purchases')">
        <div class="card-panel-icon-wrapper icon-money">
          <svg-icon icon-class="unfinish" class-name="card-panel-icon" />
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">
            未完成订单
          </div>
          <count-to :start-val="0" :end-val="this.icon_data.nodingdan" :duration="3200" class="card-panel-num" />
        </div>
      </div>
    </el-col>
    <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
      <div class="card-panel" @click="handleSetLineChartData('shoppings')">
        <div class="card-panel-icon-wrapper icon-shopping">
          <svg-icon icon-class="shopping" class-name="card-panel-icon" />
        </div>
        <div class="card-panel-description">
          <div class="card-panel-text">
            订单总数
          </div>
          <count-to :start-val="0" :end-val="this.icon_data. alldingdan" :duration="3600" class="card-panel-num" />
        </div>
      </div>
    </el-col>
  </el-row>
<!--    <span style="display: flex;width: 100%;height: 350px;margin-top: 10px">-->
<!--          <div style="width: 50%;margin-left:0px;">-->
<!--      <PieChart style="margin: auto"> </PieChart>-->
<!--          </div>-->
<!--          <div style="margin-left: 30px;width:50%;height: 110%">-->
<!--            <RaddarChart></RaddarChart>-->
<!--          </div>-->
<!--    </span>-->
<!--    <BarChart style="width: 80%;margin: auto"></BarChart>-->
  </div>
</template>

<script>
  import CountTo from 'vue-count-to';
  import {geticon_data_server} from "../../api/login";
export default {
  created() {
    this.get_icon_data();
  },
  data(){
    return{
      icon_data:{
        finishdingdan:0,
        nodingdan:0,//未完成
        daijieshoudingdan:0,//待接受订单
        alldingdan:0,
      }
    }
  },
  components: {
    CountTo
  },
  methods: {
    handleSetLineChartData(type) {
      this.$emit('handleSetLineChartData', type)
    },
    get_icon_data(){
      geticon_data_server().then(res => {
        this.icon_data.daijieshoudingdan=res.data.icon_data_daijieshoudingdan;
        this.icon_data.finishdingdan=res.data.icon_data_finishdingdan;
        this.icon_data.nodingdan=res.data.icon_data_nodingdan;
        this.icon_data.alldingdan=res.data.icon_data_alldingdan;
      });
    }
  }
}
</script>

<style lang="scss" scoped>
.panel-group {
  margin-top: 18px;

  .card-panel-col {
    margin-bottom: 32px;
  }

  .card-panel {
    height: 108px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
    border-color: rgba(0, 0, 0, .05);

    &:hover {
      .card-panel-icon-wrapper {
        color: #fff;
      }

      .icon-people {
        background: #40c9c6;
      }

      .icon-message {
        background: #36a3f7;
      }

      .icon-money {
        background: #f4516c;
      }

      .icon-shopping {
        background: #34bfa3
      }
    }

    .icon-people {
      color: #40c9c6;
    }

    .icon-message {
      color: #36a3f7;
    }

    .icon-money {
      color: #f4516c;
    }

    .icon-shopping {
      color: #34bfa3
    }

    .card-panel-icon-wrapper {
      float: left;
      margin: 14px 0 0 14px;
      padding: 16px;
      transition: all 0.38s ease-out;
      border-radius: 6px;
    }

    .card-panel-icon {
      float: left;
      font-size: 48px;
    }

    .card-panel-description {
      float: right;
      font-weight: bold;
      margin: 26px;
      margin-left: 0px;

      .card-panel-text {
        line-height: 18px;
        color: rgba(0, 0, 0, 0.45);
        font-size: 16px;
        margin-bottom: 12px;
      }

      .card-panel-num {
        font-size: 20px;
      }
    }
  }
}

@media (max-width:550px) {
  .card-panel-description {
    display: none;
  }

  .card-panel-icon-wrapper {
    float: none !important;
    width: 100%;
    height: 100%;
    margin: 0 !important;

    .svg-icon {
      display: block;
      margin: 14px auto !important;
      float: none !important;
    }
  }
}
</style>
